<div class="profile-content">
    <img src="/front/src/assets/images/avatar-icon.png" alt="profile" class="profile-avatar">

    <h1>Profil</h1>
    <hr>

    <div class="profile-details">
        <div class="profile-details-header">Name</div>
        <div class="profile-details-content">{{user.first_name + ' ' + user.surname}}</div>
        <div class="profile-details-header">Straße + Hausnr.</div>
        <div class="profile-details-content">{{user.street + ' ' + user.house_number}}</div>
        <div class="profile-details-header">PLZ Stadt, Land</div>
        <div class="profile-details-content">{{user.post_code + ' ' + user.city + ', ' + user.country}}</div>
        <div class="profile-details-header">Geburtstag</div>
        <div class="profile-details-content">{{ user.birthday.split(",").pop().substring(0, 12) }}</div>
        <div class="profile-details-header">E-Mail</div>
        <div class="profile-details-content">{{user.email_address}}</div>
        <div class="profile-details-header">Zahlungsart</div>
        <div class="profile-details-content">{{user.payment}}</div>
    </div>
    <hr>

    <div class="order-history-list">
        <div class="order-history-list-header">
            <div>Bestelldatum</div>
            <div>Artikelbezeichnung</span></div>
            <div>Preis</div>
            <div>Gesamt</div>
        </div>

        <div class="order-history-list-row" ng-repeat="order in order_list">
            <div>{{ order.booking_date.split(",").pop().substring(0, 12) }}</div>
            <div class="column-left">
                <div ng-repeat="order_details in order.order">{{order_details.item_name}}</div>
            </div>
            <div class="column-center">
                <div ng-repeat="order_details in order.order">{{order_details.price | number: 2}} €</div>
            </div>
            <div>{{ getTotal(order.order) | number: 2}} €</div>
        </div>
    </div>

</div>